<?xml version="1.0"?>
<!--
/**
* @author RLTSquare
* @copyright Copyright (c) 2022 RLTSquare (https://www.rltsquare.com/)
* @package RLTSquare_TrainingTask
*/
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="RLTSquare\TrainingTask\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <virtualType name="RLTSquare\TrainingTask\Logger\Logger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">myCustomLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">RLTSquare\TrainingTask\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="RLTSquare\TrainingTask\Controller\Index\Index">
        <arguments>
            <argument name="logger" xsi:type="object">RLTSquare\TrainingTask\Logger\Logger</argument>
        </arguments>
    </type>
</config>

