<?xml version="1.0"?>
<!--
/**
* @author RLTSquare
* @copyright Copyright (c) 2022 RLTSquare (https://www.rltsquare.com/)
* @package RLTSquare_TrainingTask
*/
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="training" frontName="training">
            <module name="RLTSquare_TrainingTask" />
        </route>
    </router>
</config>
